collab-19.json
[{"id":"7f535be4.8a3c24","type":"tab","label":"Global Config","disabled":false,"info":"Set all global parameters"},{"id":"cb8d89ed.05f478","type":"comment","z":"7f535be4.8a3c24","name":"Update airtable keys in this table config. (DO NOT DELETE, JUST UPDATE)","info":"","x":380,"y":140,"wires":[]},{"id":"f23808e4.80b6a8","type":"node-airtable","z":"7f535be4.8a3c24","name":"Airtable Config","auth":"65fcf3e9.17ff5c","table":"user","tableType":"str","action":"list","filter":"","filterType":"msg","record":"payload.id","recordType":"msg","records":"","recordsType":"msg","output":"","x":200,"y":200,"wires":[[],[]]},{"id":"b2f91116.e620e","type":"chatbot-telegram-receive","z":"7f535be4.8a3c24","bot":"f2e158a5.1e0548","botProduction":"","x":430,"y":200,"wires":[[]]},{"id":"85294f8c.4bc31","type":"inject","z":"7f535be4.8a3c24","name":"Aragon voting app abi","topic":"","payload":"{\"environments\":{\"default\":{\"registry\":\"0x5f6f7e8cc7346a11ca2def8f827b7a0b612c56a1\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rpc\"},\"rinkeby\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"},\"staging\":{\"registry\":\"0xfe03625ea880a8cba336f9b5ad6e15b0a3b5a939\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"},\"mainnet\":{\"registry\":\"0x314159265dd8dbb310642f98f50c066173c1259b\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"mainnet\"},\"ropsten\":{\"registry\":\"0x6afe2cacee211ea9179992f89dc61ff25c61e923\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"ropsten\"},\"rinkeby-old\":{\"registry\":\"0xfbae32d1cde62858bc45f51efc8cc4fa1415447e\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"}},\"roles\":[{\"name\":\"Create new votes\",\"id\":\"CREATE_VOTES_ROLE\",\"params\":[],\"bytes\":\"0xe7dcd7275292e064d090fbc5f3bd7995be23b502c1fed5cd94cfddbbdcd32bbc\"},{\"name\":\"Modify support\",\"id\":\"MODIFY_SUPPORT_ROLE\",\"params\":[\"New support\",\"Current support\"],\"bytes\":\"0xda3972983e62bdf826c4b807c4c9c2b8a941e1f83dfa76d53d6aeac11e1be650\"},{\"name\":\"Modify quorum\",\"id\":\"MODIFY_QUORUM_ROLE\",\"params\":[\"New quorum\",\"Current quorum\"],\"bytes\":\"0xad15e7261800b4bb73f1b69d3864565ffb1fd00cb93cf14fe48da8f1f2149f39\"}],\"path\":\"contracts/Voting.sol\",\"appName\":\"voting.aragonpm.eth\",\"env\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"voting.aragonpm.eth\",\"network\":\"rinkeby\"},\"appId\":\"0x9fa3927f639745e587912d4b0fea7ef9013bf93fb907d29faeab57417ba6e1d4\",\"abi\":[{\"constant\":true,\"inputs\":[],\"name\":\"hasInitialized\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_script\",\"type\":\"bytes\"}],\"name\":\"getEVMScriptExecutor\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getRecoveryVault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MODIFY_QUORUM_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MODIFY_SUPPORT_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"token\",\"type\":\"address\"}],\"name\":\"allowRecoverability\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"appId\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getInitializationBlock\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"transferToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"_role\",\"type\":\"bytes32\"},{\"name\":\"_params\",\"type\":\"uint256[]\"}],\"name\":\"canPerform\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getEVMScriptRegistry\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"voteTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CREATE_VOTES_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"kernel\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"minAcceptQuorumPct\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isPetrified\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"votesLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"supportRequiredPct\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"token\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"PCT_BASE\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"creator\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"metadata\",\"type\":\"string\"}],\"name\":\"StartVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"voter\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"supports\",\"type\":\"bool\"},{\"indexed\":false,\"name\":\"stake\",\"type\":\"uint256\"}],\"name\":\"CastVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"voteId\",\"type\":\"uint256\"}],\"name\":\"ExecuteVote\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"ChangeSupportRequired\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"ChangeMinQuorum\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"executor\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"script\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"input\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"returnData\",\"type\":\"bytes\"}],\"name\":\"ScriptResult\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"vault\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"RecoverToVault\",\"type\":\"event\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"},{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"},{\"name\":\"_voteTime\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"changeSupportRequiredPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"changeMinAcceptQuorumPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"},{\"name\":\"_castVote\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_supports\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"vote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"executeVote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isForwarder\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"pure\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"\",\"type\":\"bytes\"}],\"name\":\"canForward\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"canExecute\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_voter\",\"type\":\"address\"}],\"name\":\"canVote\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"getVote\",\"outputs\":[{\"name\":\"open\",\"type\":\"bool\"},{\"name\":\"executed\",\"type\":\"bool\"},{\"name\":\"startDate\",\"type\":\"uint64\"},{\"name\":\"snapshotBlock\",\"type\":\"uint64\"},{\"name\":\"supportRequired\",\"type\":\"uint64\"},{\"name\":\"minAcceptQuorum\",\"type\":\"uint64\"},{\"name\":\"yea\",\"type\":\"uint256\"},{\"name\":\"nay\",\"type\":\"uint256\"},{\"name\":\"votingPower\",\"type\":\"uint256\"},{\"name\":\"script\",\"type\":\"bytes\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_voter\",\"type\":\"address\"}],\"name\":\"getVoterState\",\"outputs\":[{\"name\":\"\",\"type\":\"uint8\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"}],\"functions\":[{\"sig\":\"initialize(address,uint64,uint64,uint64)\",\"roles\":[],\"notice\":\"Initialize Voting app with `_token.symbol(): string` for governance, minimum support of `@formatPct(_supportRequiredPct)`%, minimum acceptance quorum of `@formatPct(_minAcceptQuorumPct)`%, and a voting duration of `@transformTime(_voteTime)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"},{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"},{\"name\":\"_voteTime\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"changeSupportRequiredPct(uint64)\",\"roles\":[\"MODIFY_SUPPORT_ROLE\"],\"notice\":\"Change required support to `@formatPct(_supportRequiredPct)`%\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_supportRequiredPct\",\"type\":\"uint64\"}],\"name\":\"changeSupportRequiredPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"changeMinAcceptQuorumPct(uint64)\",\"roles\":[\"MODIFY_QUORUM_ROLE\"],\"notice\":\"Change minimum acceptance quorum to `@formatPct(_minAcceptQuorumPct)`%\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_minAcceptQuorumPct\",\"type\":\"uint64\"}],\"name\":\"changeMinAcceptQuorumPct\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"newVote(bytes,string)\",\"roles\":[\"CREATE_VOTES_ROLE\"],\"notice\":\"Create a new vote about \\\"`_metadata`\\\"\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"newVote(bytes,string,bool,bool)\",\"roles\":[\"CREATE_VOTES_ROLE\"],\"notice\":\"Create a new vote about \\\"`_metadata`\\\"\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_executionScript\",\"type\":\"bytes\"},{\"name\":\"_metadata\",\"type\":\"string\"},{\"name\":\"_castVote\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"newVote\",\"outputs\":[{\"name\":\"voteId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"vote(uint256,bool,bool)\",\"roles\":[],\"notice\":\"Vote `_supports ? 'yes' : 'no'` in vote #`_voteId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"},{\"name\":\"_supports\",\"type\":\"bool\"},{\"name\":\"_executesIfDecided\",\"type\":\"bool\"}],\"name\":\"vote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"executeVote(uint256)\",\"roles\":[],\"notice\":\"Execute vote #`_voteId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_voteId\",\"type\":\"uint256\"}],\"name\":\"executeVote\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"forward(bytes)\",\"roles\":[],\"notice\":\"Creates a vote to execute the desired action, and casts a support vote if possible\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_evmScript\",\"type\":\"bytes\"}],\"name\":\"forward\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}],\"deprecatedFunctions\":{}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":240,"y":880,"wires":[["87edc360.f31ea"]]},{"id":"87edc360.f31ea","type":"json","z":"7f535be4.8a3c24","name":"","property":"payload.data","action":"obj","pretty":false,"x":450,"y":880,"wires":[["e2a16fc0.e9236"]]},{"id":"e2a16fc0.e9236","type":"change","z":"7f535be4.8a3c24","name":"abi aragon app voting","rules":[{"t":"set","p":"abi_aragon_app_voting","pt":"global","to":"payload.abi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":880,"wires":[[]]},{"id":"62d9980f.c732c8","type":"inject","z":"7f535be4.8a3c24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":340,"wires":[["b8575a70.a783d8"]]},{"id":"b8575a70.a783d8","type":"change","z":"7f535be4.8a3c24","name":"","rules":[{"t":"set","p":"maintenance","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[[]]},{"id":"e576ea80.0b13e8","type":"inject","z":"7f535be4.8a3c24","name":"Set Bot Token","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":280,"wires":[["173d0295.21fb5d"]]},{"id":"173d0295.21fb5d","type":"change","z":"7f535be4.8a3c24","name":"","rules":[{"t":"set","p":"token_telegram_bot","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[[]]},{"id":"eacc1a31.244bd8","type":"inject","z":"7f535be4.8a3c24","name":"Set: Mainnet / Kovan","topic":"","payload":"{\"_comment\":\"change kovan/mainnet\",\"network\":\"mainnet\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":500,"wires":[["b99311e.10ebff"]]},{"id":"6fdb2b24.e4bf54","type":"change","z":"7f535be4.8a3c24","name":"Kovan Const","rules":[{"t":"set","p":"wyre_account_id","pt":"global","to":"","tot":"str"},{"t":"set","p":"queryProviderEndPoint","pt":"global","to":"","tot":"str"},{"t":"set","p":"network","pt":"global","to":"kovan","tot":"str"},{"t":"set","p":"wyre_link","pt":"global","to":"https://pay.testwyre.com/purchase","tot":"str"},{"t":"set","p":"address_contract_uniswap_exchange","pt":"global","to":"0xD3E51Ef092B2845f10401a0159B2B96e8B6c3D30","tot":"str"},{"t":"set","p":"ether_scan_url","pt":"global","to":"https://kovan.etherscan.io","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":540,"wires":[["bf109aed.b40018"]]},{"id":"b99311e.10ebff","type":"switch","z":"7f535be4.8a3c24","name":"","property":"payload.network","propertyType":"msg","rules":[{"t":"eq","v":"mainnet","vt":"str"},{"t":"eq","v":"kovan","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":500,"wires":[["c230474d.22ae58","1fc250c6.a5a55f"],["6fdb2b24.e4bf54","8f47ba5f.9af878"]]},{"id":"c230474d.22ae58","type":"change","z":"7f535be4.8a3c24","name":"Mainnet Conts","rules":[{"t":"set","p":"network","pt":"global","to":"mainnet","tot":"str"},{"t":"set","p":"queryProviderEndPoint","pt":"global","to":"","tot":"str"},{"t":"set","p":"wyre_account_id","pt":"global","to":"","tot":"str"},{"t":"set","p":"wyre_link","pt":"global","to":"https://pay.sendwyre.com/purchase","tot":"str"},{"t":"set","p":"ether_scan_url","pt":"global","to":"https://etherscan.io","tot":"str"},{"t":"set","p":"address_c19_voting_app","pt":"global","to":"","tot":"str"},{"t":"set","p":"address_c19_finance","pt":"global","to":"","tot":"str"},{"t":"set","p":"address_contract_uniswap_exchange","pt":"global","to":"0xc0a47dFe034B400B47bDaD5FecDa2621de6c4d95","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":460,"wires":[["bf109aed.b40018"]]},{"id":"bf109aed.b40018","type":"change","z":"7f535be4.8a3c24","name":"Common Consts","rules":[{"t":"set","p":"wyre_default_amount","pt":"global","to":"0","tot":"num"},{"t":"set","p":"min_eth","pt":"global","to":"0.0","tot":"num"},{"t":"set","p":"SDK_ACTION_SET_AUTH_KEY","pt":"global","to":"SDK_ACTION_SET_AUTH_KEY","tot":"str"},{"t":"set","p":"SDK_ACTION_EXECUTE_TRX","pt":"global","to":"SDK_ACTION_EXECUTE_TRX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":500,"wires":[["d4153889.4d1fa8"]]},{"id":"1fc250c6.a5a55f","type":"debug","z":"7f535be4.8a3c24","name":"FLOW: Mainnet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":420,"wires":[]},{"id":"8f47ba5f.9af878","type":"debug","z":"7f535be4.8a3c24","name":"FLOW: Kovan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":580,"wires":[]},{"id":"d4153889.4d1fa8","type":"change","z":"7f535be4.8a3c24","name":"PK","rules":[{"t":"set","p":"address_c19_token","pt":"global","to":"","tot":"str"},{"t":"set","p":"c19_app_url","pt":"global","to":"","tot":"str"},{"t":"set","p":"gas_buffer","pt":"flow","to":"0.05","tot":"str"},{"t":"set","p":"min_eth_for_gas_fee","pt":"global","to":"0.005","tot":"str"},{"t":"set","p":"donation_address","pt":"global","to":"","tot":"str"},{"t":"set","p":"group_chat_id","pt":"global","to":"","tot":"str"},{"t":"set","p":"pk_c19_token_holder","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":500,"wires":[["8b92266.be434d8"]]},{"id":"82820a7.ecf7af8","type":"inject","z":"7f535be4.8a3c24","name":"ERC20 Abi","topic":"","payload":"[{\"constant\":true,\"inputs\":[],\"name\":\"name\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_spender\",\"type\":\"address\"},{\"name\":\"_value\",\"type\":\"uint256\"}],\"name\":\"approve\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"totalSupply\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_from\",\"type\":\"address\"},{\"name\":\"_to\",\"type\":\"address\"},{\"name\":\"_value\",\"type\":\"uint256\"}],\"name\":\"transferFrom\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"decimals\",\"outputs\":[{\"name\":\"\",\"type\":\"uint8\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_owner\",\"type\":\"address\"}],\"name\":\"balanceOf\",\"outputs\":[{\"name\":\"balance\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"symbol\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_to\",\"type\":\"address\"},{\"name\":\"_value\",\"type\":\"uint256\"}],\"name\":\"transfer\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_owner\",\"type\":\"address\"},{\"name\":\"_spender\",\"type\":\"address\"}],\"name\":\"allowance\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"fallback\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"owner\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"spender\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"value\",\"type\":\"uint256\"}],\"name\":\"Approval\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"from\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"to\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"value\",\"type\":\"uint256\"}],\"name\":\"Transfer\",\"type\":\"event\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":210,"y":800,"wires":[["6c76eb61.2ac3b4"]]},{"id":"6c76eb61.2ac3b4","type":"json","z":"7f535be4.8a3c24","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":800,"wires":[["34958aa2.625116"]]},{"id":"34958aa2.625116","type":"change","z":"7f535be4.8a3c24","name":"Abi ERC20","rules":[{"t":"set","p":"abi_erc20","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[[]]},{"id":"b9e1bfc8.24247","type":"comment","z":"7f535be4.8a3c24","name":"Set global constants","info":"","x":230,"y":440,"wires":[]},{"id":"39e5418d.743ece","type":"inject","z":"7f535be4.8a3c24","name":"Aragon finance app abi","topic":"","payload":"{\"environments\":{\"default\":{\"registry\":\"0x5f6f7e8cc7346a11ca2def8f827b7a0b612c56a1\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rpc\"},\"mainnet\":{\"registry\":\"0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"mainnet\"},\"rinkeby\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"},\"ropsten\":{\"registry\":\"0x6afe2cacee211ea9179992f89dc61ff25c61e923\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"ropsten\"},\"staging\":{\"registry\":\"0xfe03625ea880a8cba336f9b5ad6e15b0a3b5a939\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"},\"rinkeby-old\":{\"registry\":\"0xfbae32d1cde62858bc45f51efc8cc4fa1415447e\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"}},\"dependencies\":[{\"appName\":\"vault.aragonpm.eth\",\"version\":\"^4.0.0\",\"initParam\":\"_vault\",\"state\":\"vault\",\"requiredPermissions\":[{\"name\":\"TRANSFER_ROLE\",\"params\":\"*\"}]}],\"roles\":[{\"name\":\"Create new payments\",\"id\":\"CREATE_PAYMENTS_ROLE\",\"params\":[\"Token address\",\"Receiver address\",\"Token amount\",\"Payment interval\",\"Max repeats\",\"Initial payment time\"],\"bytes\":\"0x5de467a460382d13defdc02aacddc9c7d6605d6d4e0b8bd2f70732cae8ea17bc\"},{\"name\":\"Change period duration\",\"id\":\"CHANGE_PERIOD_ROLE\",\"params\":[\"New period duration\",\"Old period duration\"],\"bytes\":\"0xd35e458bacdd5343c2f050f574554b2f417a8ea38d6a9a65ce2225dbe8bb9a9d\"},{\"name\":\"Change budgets\",\"id\":\"CHANGE_BUDGETS_ROLE\",\"params\":[\"Token address\",\"New budget amount\",\"Old budget amount\",\"Has budget flag\"],\"bytes\":\"0xd79730e82bfef7d2f9639b9d10bf37ebb662b22ae2211502a00bdf7b2cc3a23a\"},{\"name\":\"Execute payments\",\"id\":\"EXECUTE_PAYMENTS_ROLE\",\"params\":[\"Payment ID\",\"Payment amount\"],\"bytes\":\"0x563165d3eae48bcb0a092543ca070d989169c98357e9a1b324ec5da44bab75fd\"},{\"name\":\"Manage payments\",\"id\":\"MANAGE_PAYMENTS_ROLE\",\"params\":[\"Payment ID\",\"Payment active\"],\"bytes\":\"0x30597dd103acfaef0649675953d9cb22faadab7e9d9ed57acc1c429d04b80777\"}],\"path\":\"contracts/Finance.sol\",\"appName\":\"finance.aragonpm.eth\",\"env\":{\"registry\":\"0x98Df287B6C145399Aaa709692c8D308357bC085D\",\"appName\":\"finance.aragonpm.eth\",\"network\":\"rinkeby\"},\"appId\":\"0xbf8491150dafc5dcaee5b861414dca922de09ccffa344964ae167212e8c673ae\",\"abi\":[{\"constant\":true,\"inputs\":[],\"name\":\"hasInitialized\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CREATE_PAYMENTS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_script\",\"type\":\"bytes\"}],\"name\":\"getEVMScriptExecutor\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getRecoveryVault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CHANGE_PERIOD_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"CHANGE_BUDGETS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"periodsLength\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"appId\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getInitializationBlock\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"EXECUTE_PAYMENTS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"transferToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_sender\",\"type\":\"address\"},{\"name\":\"_role\",\"type\":\"bytes32\"},{\"name\":\"_params\",\"type\":\"uint256[]\"}],\"name\":\"canPerform\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getEVMScriptRegistry\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"kernel\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"paymentsNextIndex\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"isPetrified\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"MANAGE_PAYMENTS_ROLE\",\"outputs\":[{\"name\":\"\",\"type\":\"bytes32\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"transactionsNextIndex\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"vault\",\"outputs\":[{\"name\":\"\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"fallback\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"periodId\",\"type\":\"uint64\"},{\"indexed\":false,\"name\":\"periodStarts\",\"type\":\"uint64\"},{\"indexed\":false,\"name\":\"periodEnds\",\"type\":\"uint64\"}],\"name\":\"NewPeriod\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"hasBudget\",\"type\":\"bool\"}],\"name\":\"SetBudget\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"paymentId\",\"type\":\"uint256\"},{\"indexed\":true,\"name\":\"recipient\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"maxExecutions\",\"type\":\"uint64\"},{\"indexed\":false,\"name\":\"reference\",\"type\":\"string\"}],\"name\":\"NewPayment\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"transactionId\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"incoming\",\"type\":\"bool\"},{\"indexed\":true,\"name\":\"entity\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"reference\",\"type\":\"string\"}],\"name\":\"NewTransaction\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"paymentId\",\"type\":\"uint256\"},{\"indexed\":false,\"name\":\"active\",\"type\":\"bool\"}],\"name\":\"ChangePaymentState\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"newDuration\",\"type\":\"uint64\"}],\"name\":\"ChangePeriodDuration\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":false,\"name\":\"paymentId\",\"type\":\"uint256\"}],\"name\":\"PaymentFailure\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"executor\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"script\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"input\",\"type\":\"bytes\"},{\"indexed\":false,\"name\":\"returnData\",\"type\":\"bytes\"}],\"name\":\"ScriptResult\",\"type\":\"event\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"name\":\"vault\",\"type\":\"address\"},{\"indexed\":true,\"name\":\"token\",\"type\":\"address\"},{\"indexed\":false,\"name\":\"amount\",\"type\":\"uint256\"}],\"name\":\"RecoverToVault\",\"type\":\"event\"},{\"constant\":false,\"inputs\":[{\"name\":\"_vault\",\"type\":\"address\"},{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"deposit\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newImmediatePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"_interval\",\"type\":\"uint64\"},{\"name\":\"_maxExecutions\",\"type\":\"uint64\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newScheduledPayment\",\"outputs\":[{\"name\":\"paymentId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"setPeriodDuration\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"setBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"removeBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"executePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"receiverExecutePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"},{\"name\":\"_active\",\"type\":\"bool\"}],\"name\":\"setPaymentStatus\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"recoverToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"_maxTransitions\",\"type\":\"uint64\"}],\"name\":\"tryTransitionAccountingPeriod\",\"outputs\":[{\"name\":\"success\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"\",\"type\":\"address\"}],\"name\":\"allowRecoverability\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"getPayment\",\"outputs\":[{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"receiver\",\"type\":\"address\"},{\"name\":\"amount\",\"type\":\"uint256\"},{\"name\":\"initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"interval\",\"type\":\"uint64\"},{\"name\":\"maxExecutions\",\"type\":\"uint64\"},{\"name\":\"inactive\",\"type\":\"bool\"},{\"name\":\"executions\",\"type\":\"uint64\"},{\"name\":\"createdBy\",\"type\":\"address\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_transactionId\",\"type\":\"uint256\"}],\"name\":\"getTransaction\",\"outputs\":[{\"name\":\"periodId\",\"type\":\"uint64\"},{\"name\":\"amount\",\"type\":\"uint256\"},{\"name\":\"paymentId\",\"type\":\"uint256\"},{\"name\":\"paymentExecutionNumber\",\"type\":\"uint64\"},{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"entity\",\"type\":\"address\"},{\"name\":\"isIncoming\",\"type\":\"bool\"},{\"name\":\"date\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_periodId\",\"type\":\"uint64\"}],\"name\":\"getPeriod\",\"outputs\":[{\"name\":\"isCurrent\",\"type\":\"bool\"},{\"name\":\"startTime\",\"type\":\"uint64\"},{\"name\":\"endTime\",\"type\":\"uint64\"},{\"name\":\"firstTransactionId\",\"type\":\"uint256\"},{\"name\":\"lastTransactionId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_periodId\",\"type\":\"uint64\"},{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"getPeriodTokenStatement\",\"outputs\":[{\"name\":\"expenses\",\"type\":\"uint256\"},{\"name\":\"income\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"currentPeriodId\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"getPeriodDuration\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"getBudget\",\"outputs\":[{\"name\":\"budget\",\"type\":\"uint256\"},{\"name\":\"hasBudget\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"getRemainingBudget\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"canMakePayment\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":true,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"nextPaymentTime\",\"outputs\":[{\"name\":\"\",\"type\":\"uint64\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"}],\"functions\":[{\"sig\":\"fallback\",\"roles\":[],\"notice\":\"Deposit ETH to the Vault, to avoid locking them in this Finance app forever\"},{\"sig\":\"initialize(address,uint64)\",\"roles\":[],\"notice\":\"Initialize Finance app for Vault at `_vault` with period length of `@transformTime(_periodDuration)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_vault\",\"type\":\"address\"},{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"initialize\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"deposit(address,uint256,string)\",\"roles\":[],\"notice\":\"Deposit `@tokenAmount(_token, _amount)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"deposit\",\"outputs\":[],\"payable\":true,\"stateMutability\":\"payable\",\"type\":\"function\"}},{\"sig\":\"newImmediatePayment(address,address,uint256,string)\",\"roles\":[\"CREATE_PAYMENTS_ROLE\"],\"notice\":\"Create a new payment of `@tokenAmount(_token, _amount)` to `_receiver` for '`_reference`'\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newImmediatePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"newScheduledPayment(address,address,uint256,uint64,uint64,uint64,string)\",\"roles\":[\"CREATE_PAYMENTS_ROLE\"],\"notice\":\"Create a new payment of `@tokenAmount(_token, _amount)` to `_receiver` for `_reference`, executing `_maxExecutions` times at intervals of `@transformTime(_interval)`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"_interval\",\"type\":\"uint64\"},{\"name\":\"_maxExecutions\",\"type\":\"uint64\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newScheduledPayment\",\"outputs\":[{\"name\":\"paymentId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"setPeriodDuration(uint64)\",\"roles\":[\"CHANGE_PERIOD_ROLE\"],\"notice\":\"Change period duration to `@transformTime(_periodDuration)`, effective for next accounting period\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_periodDuration\",\"type\":\"uint64\"}],\"name\":\"setPeriodDuration\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"setBudget(address,uint256)\",\"roles\":[\"CHANGE_BUDGETS_ROLE\"],\"notice\":\"Set budget for `_token.symbol(): string` to `@tokenAmount(_token, _amount, false)`, effective immediately\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"setBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"removeBudget(address)\",\"roles\":[\"CHANGE_BUDGETS_ROLE\"],\"notice\":\"Remove spending limit for `_token.symbol(): string`, effective immediately\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"removeBudget\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"executePayment(uint256)\",\"roles\":[\"EXECUTE_PAYMENTS_ROLE\"],\"notice\":\"Execute pending payment #`_paymentId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"executePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"receiverExecutePayment(uint256)\",\"roles\":[],\"notice\":\"Execute pending payment #`_paymentId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"}],\"name\":\"receiverExecutePayment\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"setPaymentStatus(uint256,bool)\",\"roles\":[\"MANAGE_PAYMENTS_ROLE\"],\"notice\":\"`_active ? 'Activate' : 'Disable'` payment #`_paymentId`\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_paymentId\",\"type\":\"uint256\"},{\"name\":\"_active\",\"type\":\"bool\"}],\"name\":\"setPaymentStatus\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"recoverToVault(address)\",\"roles\":[],\"notice\":\"Send tokens held in this contract to the Vault\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"}],\"name\":\"recoverToVault\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}},{\"sig\":\"tryTransitionAccountingPeriod(uint64)\",\"roles\":[],\"notice\":\"Transition accounting period if needed\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_maxTransitions\",\"type\":\"uint64\"}],\"name\":\"tryTransitionAccountingPeriod\",\"outputs\":[{\"name\":\"success\",\"type\":\"bool\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}],\"deprecatedFunctions\":{\"1.0.0\":[{\"sig\":\"newPayment(address,address,uint256,uint64,uint64,uint64,string)\",\"roles\":[\"CREATE_PAYMENTS_ROLE\"],\"notice\":\"Create a new payment of `@tokenAmount(_token, _amount)` to `_receiver``_maxRepeats > 0 ? ', executing ' + _maxRepeats + ' times at intervals of ' + @transformTime(_interval) : ''`, for '`_reference`'\",\"abi\":{\"constant\":false,\"inputs\":[{\"name\":\"_token\",\"type\":\"address\"},{\"name\":\"_receiver\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"},{\"name\":\"_initialPaymentTime\",\"type\":\"uint64\"},{\"name\":\"_interval\",\"type\":\"uint64\"},{\"name\":\"_maxRepeats\",\"type\":\"uint64\"},{\"name\":\"_reference\",\"type\":\"string\"}],\"name\":\"newPayment\",\"outputs\":[{\"name\":\"paymentId\",\"type\":\"uint256\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}}]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":250,"y":960,"wires":[["a35bd3.42a5943"]]},{"id":"a35bd3.42a5943","type":"json","z":"7f535be4.8a3c24","name":"","property":"payload.data","action":"obj","pretty":false,"x":450,"y":960,"wires":[["7b63a484.cfe14c"]]},{"id":"7b63a484.cfe14c","type":"change","z":"7f535be4.8a3c24","name":"abi aragon app finance","rules":[{"t":"set","p":"abi_aragon_app_finance","pt":"global","to":"payload.abi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":960,"wires":[[]]},{"id":"8b92266.be434d8","type":"change","z":"7f535be4.8a3c24","name":"KMS Keys","rules":[{"t":"set","p":"AWS_ACCESS_KEY_ID","pt":"global","to":"","tot":"str"},{"t":"set","p":"AWS_SECREAT_ACCESS_KEY","pt":"global","to":"","tot":"str"},{"t":"set","p":"KMS_GENERATOR_KEY_ID","pt":"global","to":"","tot":"str"},{"t":"set","p":"KMS_KEY_ID","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":500,"wires":[[]]},{"id":"65fcf3e9.17ff5c","type":"node-config-airtable","z":"","name":"Collab Airtable"},{"id":"f2e158a5.1e0548","type":"chatbot-telegram-node","z":"","botname":"Collab 19","usernames":"","providerToken":"","polling":"300","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]